<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image, size: "147x176" if @product.image.attached?  %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<div id = "product_comments">
  <%= render @comments%>
</div>
<div id = "comment_form">
  <strong>Add Comment </strong>
  <%= render('comments/form')%>
</div>

<%= product_edit_by_admin(@product)%>
<%= link_to 'Back', store_index_path %>
